@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

/* .modal {
    margin-top: 10%;
} */

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}